<%# set card format for each itinerary %>
<div class="card">
  <%# each img for travel trip %>
  <%# <img class="card-img-top" src="..." alt="Card image cap">    %>

     <%# each itinerary title is card header  %>
    <div class="card-header">
      <div class="fa-solid fa-bus"></div>
        <%= link_to itinerary.title, trip_itinerary_path(@trip, itinerary) %>
    </div>

    <%# each itinerary content is card body  %>
     <% if policy(itinerary).show? %>
        <div class="card-body">
        <%= itinerary.content %>
        <%= itinerary.trip %>
        </div>
     <% end %>

    <%# buttons for card footer  %>
    <%# users authorization check %>
     <% if policy(itinerary).edit? %>
    <div class="card-footer">
    <%# below routes is also nested path %>
    <%= link_to 'Edit', edit_trip_itinerary_path(@trip, itinerary), class: 'btn btn-sm btn-warning' %>
    <%= link_to 'Destroy', [@trip, itinerary], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
    </div>
    <% end %>
</div>

<%# below p tag is for blank space %>
<p></p>  