<%# dynamic title for itinerary edit page => itinerary edit page title%> 
<% content_for :title do %>
  Travel Fun/Trip <%= @trip.title %>/Editing itinerary <%= @itinerary.title%>
<% end %>

<div class="mt-3">
<%# the below links will show more logic in front end like: Travel Plans\trip\itinerary %>
    <%= link_to 'Travel Plans', trips_path %>
\
    <%# icon + boostrap color %>
    <i class="fa-solid fa-map-location-dot text-info"></i>
    <%= link_to @itinerary.trip.title, trip_path(@itinerary.trip) %> 
\
    <i class="fa-solid fa-sun text-warning"></i>
    <%= link_to @itinerary.title, trip_itinerary_path(@trip, @itinerary) %>
\
    <i class="fa-solid fa-keyboard"></i> Edit
    <p></p>
</div>
<%# minor styling just like trips edit view %>
<div class="card mt-3">
  <div class="card-header">
    <h1>
    <i class="fa-solid fa-pen-to-square"></i>
     Editing Itinerary
     </h1>
  </div>
  
  <div class="card-body">
    <%= render 'form', itinerary: @itinerary %>
  </div>
  <div class="card-footer">
    <%= link_to 'Show Itinerary', trip_itinerary_path(@trip, @itinerary)%>  |
    <%# I add below path in case when user in edit page, click back button will not go to listing page, I want them can go to the exactly trip page %>
    <%= link_to 'Back to trip', trip_path(@itinerary.trip) %>
  </div>