<%# dynamic title for itinerary createing new page => itinerary createing new page title%> 
<% content_for :title do %>
  Travel Fun/Trip <%= @trip.title %>/New itinerary
<% end %>

<div class="mt-3">
<%= link_to 'Travel Plans', trips_path %>
\
<%# icon + boostrap color %>
<i class="fa-solid fa-map-location-dot text-info"></i>
<%= link_to @trip.title, trip_path(@trip) %> 
\
New Itinerary
<p></p>
</div>

<%# minor styling just like trips new view %>
<div class="card mt-3">

  <div class="card-header">
    <h1> 
    <i class="fa-solid fa-route"></i>
    New Itinerary
    </h1>
  </div>

  <div class="card-body"> 
    <%= render 'form', itinerary: @itinerary %>
  </div>

  <div class="card-footer">
    <%= link_to 'Back to trip', trip_path(@trip) %>
  </div>

</div>