<%# for bootstrap Carousel format %>

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag '01_wineglass_bay.jpg', class: 'rounded img-fluid mx-auto d-block', alt: 'First slide', id:'beauty-img'%>
      <div class="carousel-caption d-none d-md-block">
        <h5>Honeymoon Bay</h5>
        <p>It is located on the Freycinet Peninsula of Tasmania. It is a bay within a bay, being part of the larger Coles Bay. </p>
      </div>
    </div>
    <div class="carousel-item">
       <%= image_tag '02_Bruny_island.jpg', class: 'rounded img-fluid mx-auto d-block', alt: 'Second slide',id:'beauty-img'%>
       <div class="carousel-caption d-none d-md-block">
        <h5>Bruny Island</h5>
        <p>It is a 362-square-kilometre island located off the south-eastern coast of Tasmania. </p>
       </div>
    </div>
    <div class="carousel-item">
      <%= image_tag '03_Cradle_MT.jpg', class: 'rounded img-fluid mx-auto d-block', alt: 'Third slide',id:'beauty-img'%>
      <div class="carousel-caption d-none d-md-block">
        <h5>Cradle Mountain</h5>
        <p>It is synonymous with nature, wilderness and all things pristine. </p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag '04_Golden_River.jpg', class: 'rounded img-fluid mx-auto d-block', alt: 'Fourth slide',id:'beauty-img'%>
      <div class="carousel-caption d-none d-md-block">
        <h5>Gordon River</h5>
        <p>The Gordon River is a major perennial river located in the central highlands, south-west, and western regions of Tasmania. </p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag '05_Mount_Willington.jpg', class: 'rounded img-fluid mx-auto d-block', alt: 'Fifth slide',id:'beauty-img'%>
      <div class="carousel-caption d-none d-md-block">
        <h5>Mount Wellington</h5>
        <p>It is a mountain in the southeast of Tasmania. It is the summit of the Wellington Range and is within Wellington Park reserve.</p>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag '06_Bay_of_Fire.jpg', class: 'rounded img-fluid mx-auto d-block', alt: 'Fifth slide',id:'beauty-img'%>
      <div class="carousel-caption d-none d-md-block">
        <h5>Bay of Fires</h5>
        <p>It is a bay on the northeastern coast of Tasmania in Australia, extending from Binalong Bay to Eddystone Point.</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>