
<%# bootstrap jumbotron format %>
<div class="jumbotron mt-3">
  <h1 class="display-4 text-success"> Welcome Traveller </h1>
  <%# spay tag for typed.js %>
  <p class="lead font-weight-bold font-italic text-primary">Do you prepare to <span class="mov"> </span> </p>
  <hr class="my-4">
      <%# Search Bar Start %>
      <%# after use ransack gem, I set a method on application controller, we can use that globel vaeiable to set nav bar search %>
      <%# in home page, need to add if current_user statment, otherwise logout will rise an error %>
      <% if current_user %>
      <div class="form-inline my-2 my-lg-0">
          <%= search_form_for @ransack_trips, as: :trips_search, url: trips_path do |f| %>
           <div class="input-group">
           <%# :title_or_brief_info_cont which means when client use search bar  %>
           <%# The db will check trips table for "title"  OR "brief_info" to find if there are anything to match %>
           <%# kind of like nav bar search includes the side bar search: title and brief info seach %>
           <%# finally I changed it back to only for title search, I found this is more accurate for users searching %>
           <%= f.search_field :title_cont, class: 'form-control-sm',  placeholder: 'Find Your Trip', autocomplete: 'off' %>
            <span class="input-group-append">
                <button class="btn btn-primary btn-sm" type="submit">
                <span aria-hidden="true" class="fa fa-search"></span>
                </button>
              </span>
            </div>
          <% end %>
        </div>
        <% end %>
      <%# Search Bar End %>
</div>

<%# for bootstrap card group format %>
<div class="card-group">
  <%# card body 01 - Porpular Trips %>
  <div class="card card-body">
        <h1 class="text-warning">
            <i class="fa-solid fa-compass"></i>
        </h1>
        <div class="card-text">
            <b><%= Trip.count %> Porpular Trips </b>
        </div>
        <div class="card-text">
            Let's explore a variety of trips
        </div>
  </div>
  <%# card body 02 - Professional Trip Designer %>
  <div class="card card-body">
        <h1 class="text-info">
           <i class="fa-solid fa-user-tie"></i>
        </h1>
        <div class="card-text">
            <b><%= Trip.distinct.count(:user_id) %> Professional Trip Designer </b>
        </div>
        <div class="card-text">
            Find the right trip only for you
        </div>
  </div>
  <%# card body 03 - Active Users %>
   <div class="card card-body">
        <h1 class="text-success">
           <i class="fa-solid fa-users"></i>
        </h1>
        <div class="card-text">
            <b><%= User.count %> Active Users</b>
        </div>
        <div class="card-text">
            Welcome to join our traveller and designer community
        </div>
  </div>
  <%# card body 04 - Adventure Explore Tasmania %>
   <div class="card card-body">
        <h1 class="text-primary">
            <i class="fa-solid fa-earth-oceania"></i>
        </h1>
        <div class="card-text">
            <b>Adventure Explore Tasmania</b>
        </div>
        <div class="card-text">
            by your professional trip designer
        </div>
  </div>
  
</div>


<%# for 3 trips sections %>
<hr class="my-4">
<h2> Popular Trips </h2>
<div class="card-columns">
   <%# use ruby each method to list each trip in card format %>
  <% @trips.each do |trip| %>
    <%= render 'trips/trip', trip: trip %>
  <% end %>
</div>
<hr class="my-4">
<h2> Top Rated Trips </h2>
<div class="card-columns">
   <%# use ruby each method to list each trip in card format %>
  <% @trips.each do |trip| %>
    <%= render 'trips/trip', trip: trip %>
  <% end %>
</div>
<hr class="my-4">
<h2> New Trips </h2>
<div class="card-columns">
   <%# use ruby each method to list each trip in card format %>
  <% @new_trips.each do |new_trip| %>
    <%= render 'trips/trip', trip: new_trip %>
  <% end %>
</div>
