<%# dynamic title for Operation History page => Operation History page title should like Travel-Fun|Operation%> 
<% content_for :title do %>
  Travel Fun|Operation
<% end %>

<%# this view for static_pages controller track activities actions %>
<h3>
  <div class="text-center mt-3">
    Operation History
    <div class="badge badge-info">
      <%= @activities.count %>
    </div>
  </div>
</h3>
<p></p>
<ul class="list-group">
  <% @activities.each do |activity| %>
    <li class="list-group-item">
      <%= activity.id %>
      <%= activity.trackable_type %>
      <%= activity.trackable_id %>
      <%= link_to activity.trackable, activity.trackable %>
      <%= activity.key %>
      <%= activity.parameters %>
      <%= activity.owner %>
    </li>
  <% end %>
</ul>
