
<%= simple_form_for(@trip) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>

    <%= f.label :avatar %>
    <p></p>
    <% if @trip.avatar.attached? %>
      <%=image_tag @trip.avatar, width:"200px"%>
    <% end %>
    <p></p>
    <%= f.file_field :avatar%>
    <p></p>
    <%#  f.input :description %>
    <%# start: for action text form view %>
     
    <%= f.rich_text_area :description %>
    <%# description cannot be blank at front end view %>
    <small><%= f.error :description, class: 'text-danger' %></small> 
    <%# end: for action text form view %>

    <%= f.label :brief_info %>
    <%= f.rich_text_area :brief_info %> 
     <%# collection: ["English", "Chinese(Simplified)", "Chinese(Traditional)", "Korean", "Japanese"] %>
     <%# include_blank allows blank area when we creating new trip, more flexable %>
     <%= f.input :language, collection: Trip.languages, include_blank: true %>

     <%# collection: :"5-Days-4-Nights", :"4-Days-3-Nights", :"3-Days-2-Nights", :"1-Day"%>
     <%= f.input :duration, collection: Trip.durations, include_blank: true %>
     <%= f.input :price %>
     <%= f.input :published %>
  </div>
   
   <%# add bootsrap for edit update button %>
   <%# btn btn-warning mt-3 text-light p-0 %>
  <div class="form-actions ">  
    <%= f.button :submit %>
  </div>
<% end %>
