<%# this is partial _trips veiw + bootstrap card format %>

<div class="card">
  <%# each img for travel trip %>
  <%# <img class="card-img-top" src="..." alt="Card image cap">    %>

     <%# each trip title is card header  %>
    <div class="card-header">
      <div class="fa-solid fa-bus"></div>
        <%= link_to trip.title, trip_path(trip) %>
    </div>

    <%# each trip description is card body  %>
    <div class="card-body">
      <%= trip.description %>
    </div>
    
    <%# front end view for average_rating, and how many clients choosed the trip %>
    <div class="card-footer">
      <i class="text-danger fa-solid fa-heart"></i>
      <%= trip.average_rating%>
      <span class="font-weight-bold"> (<i class="fa-solid fa-face-laugh-beam text-warning"></i> Travellors: <%= trip.orders_count %> ) </span>
       <%# Count cache orders count:  trip.orders_count is more efficent than trip.orders.count if we have lots of data need to load %>
    </div>

    <div class="card-footer ">
      <div class="row"></div>
      <div class="fa-solid fa-language"></div>
      <span class="font-weight-bold"> Tour language: </span> <%= trip.language %>
      
      <div class="row"></div>
      <div class="fa-solid fa-calendar-days"></div>
      <span class="font-weight-bold"> Tour Duration: </span>
      <%# trip.duration => no need this code, as I create new table belongs to trips table%> 
      <%# itineraries_count base on counter_cache %>
      <% if trip.itineraries_count == 1 %> 
          <%= trip.itineraries_count %> - Day
      <% else %>
          <%= trip.itineraries_count %> - Days
      <% end %>
     </div>

    <div class="card-footer ">
      <div class="row"></div>
      <%# trip_helper method %>
      <%= order_button(trip)%>
      
      <div class="row"></div>
      <%= review_button(trip)%>
    </div>
  

    <%# each trip links are card footer as well  %>
    <%# users authorization check %>
    <%# if current user is client, then they do need have the below views %>
    <% if current_user %>
    <% if policy(trip).edit? %> 
    <%# each trip created time and user is card footer  %>
    <div class="card-footer">
      <div class="far fa-clock"></div>
      Created at: <%= trip.created_at.strftime('%d-%b-%Y') %>
      <div class="row"></div>
      <div class="fa-solid fa-user-astronaut"></div>
      <%# .username is method in user model, cam makes website more readable %>
      Created by: <%= link_to trip.user.username, user_path(trip.user)%> 
    </div>

    <div class="card-footer">
      <%= link_to 'Edit', edit_trip_path(trip), class: 'btn btn-sm btn-info' %>
      <%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
      <%# only trip owner creator can see this button %>
      <% if policy(trip).owner? %> 
      <%= link_to 'Add New Itinerary', new_trip_itinerary_path(trip, @itinerary), class: 'btn btn-success btn-sm' %>
      <% end %>
    </div>
    <% end %>
    <% end %>
</div>