<%# this is partial _trips veiw + bootstrap card format %>

<div class="card shadow">
  <%# each img for travel trip %>
  <%# <img class="card-img-top" src="..." alt="Card image cap">    %>

     <%# each trip title is card header  %>
    <div class="card-header">
      <div class="fa-solid fa-bus"></div>
        <%= link_to trip.title, trip_path(trip) %>
    </div>

    <%# each trip description is card body  %>
    <div class="card-body">
      <%= trip.description %>
    </div>
    
    <%# front end view for average_rating, and how many clients choosed the trip %>
    <div class="card-footer">
      <i class="text-danger fa-solid fa-heart"></i>
      <%= trip.average_rating%>
      <span class="font-weight-bold"> (<i class="fa-solid fa-face-laugh-beam text-warning"></i> Travellors: <%= trip.orders_count %> ) </span>
       <%# Count cache orders count:  trip.orders_count is more efficent than trip.orders.count if we have lots of data need to load %>
    </div>

    <div class="card-footer ">
      <div class="row"></div>
      <div class="fa-solid fa-language"></div>
      <span class="font-weight-bold"> Tour language: </span> <%= trip.language %>
      
      <div class="row"></div>
      <div class="fa-solid fa-calendar-days"></div>
      <span class="font-weight-bold"> Tour Duration: </span>
      <%# trip.duration => no need this code, as I create new table belongs to trips table%> 
      <%# itineraries_count base on counter_cache %>
      <% if trip.itineraries_count == 1 %> 
          <%= trip.itineraries_count %> - Day
      <% else %>
          <%= trip.itineraries_count %> - Days
      <% end %>
     </div>

    <div class="card-footer ">
      <div class="row"></div>
      <%# trip_helper methods %>
      <%= order_button(trip)%>
      
      <div class="row"></div>
      <%= review_button(trip)%>

    </div>
  

    <%# each trip links are card footer as well  %>
    <%# users authorization check %>
    <%# if current user is client, then they do need have the below views %>
    <% if current_user %>
      <% if policy(trip).destory? %> 

      <%# each trip created time and user is card footer  %>
      <%# card footer 01 for trips created time and creater username %>
      <div class="card-footer">
        <div class="far fa-clock"></div>
        Created at: <%= trip.created_at.strftime('%d-%b-%Y') %>
        <div class="row"></div>
        <div class="fa-solid fa-user-astronaut"></div>
        <%# .username is method in user model, cam makes website more readable %>
        Created by: <%= link_to trip.user.username, user_path(trip.user)%> 
      </div>
       <% end %>
      <%# card footer 02 for buttons %>
      <%# only trip owner creator can see this buttons %>
      <% if policy(trip).owner? %> 
      <div class="card-footer">
        <%= link_to 'Edit', edit_trip_path(trip), class: 'btn btn-sm btn-info' %>
        <%= link_to 'Destroy', trip, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
        <%= link_to 'Add Itinerary', new_trip_itinerary_path(trip, @itinerary), class: 'btn btn-sm btn-success ' %>
      </div>
      <% end %>

      <% if policy(trip).analytics? %> 
      <div class="card-footer">
        <%= link_to analytics_trip_path(trip), class: 'btn btn-primary' do%>
        <i class="fa-solid fa-chart-bar"></i>  Analytics
        <% end %>
      </div>
      <% end %>

    <% if policy(trip).destory? %> 
      <%# card footer 03 for badges %>
      <div class="card-footer">
        <span class="font-weight-bold">Status:</span>
        <% if trip.published? %>
          <span class="badge badge-success">Published</span>
        <% else %>
          <span class="badge badge-warning">Unpublished</span>
        <% end %>
        <% if trip.approved? %>
          <span class="badge badge-success">Approved</span>
        <% else %>
          <span class="badge badge-danger">Unapproved</span>
        <% end %>
        </div>
      <%# card footer 04 for approve or not button, only admin role can see this view base on trip policy approve setting%>
      <% if policy(trip).approve? %>
      <div class="card-footer">
          <% if trip.approved? %>
            <%= link_to 'Unapprove',unapprove_trip_path(trip), method: :patch, class: 'btn btn-sm btn-danger'%>
          <% else %>
            <%= link_to 'Approve',approve_trip_path(trip), method: :patch, class: 'btn btn-sm btn-primary'%>
          <% end %>
      </div>
      <% end %>
      
    <% end %>
    
    <% end %>
</div>