<p id="notice"><%= notice %></p>

<h1>Listing Trips: <%= @trips.count%></h1>

<%# search_form by ransack gem  %>
<div class="row">
  <div class="col-md-2">
    <%# update the below @q to @ransack_trips %>
    <%# search_form_for @q do |f| %>
    
    <%= search_form_for @ransack_trips, as: :trips_search, url: trips_path do |f|%>
      <%= f.label :title %>
      <%= f.search_field :title_cont, placeholder: 'Title', class: 'form-control form-control-sm' %>
     
      <%= f.label :brief_info %>
      <%= f.search_field :brief_info_cont, placeholder: 'Information', class: 'form-control form-control-sm' %>
      
      <%= f.label :language %>
      <%# f.select :language_cont,"English","Chinese-Simplified","Chinese-Traditional","Korean","Japanese",, include_blank: true, class: 'form-control form-control-sm' %>
      <%# include_blank allows blank area for searthing, more flexable %>
      <%= f.select :language_cont, Trip.languages,include_blank: true %>
      
      <%= f.label :duration %>
      <%# f.select :duration_cont,["5-Days-4-Nights","4-Days-3-Nights","3-Days-2-Nights","1-Day"], include_blank: true, class: 'form-control form-control-sm' %>
      <%= f.select :duration_cont, Trip.durations,include_blank: true %>

      <%= f.label :price %>
      <%= f.search_field :price_eq, placeholder: 'Price', class: 'form-control form-control-sm' %>
      
      <%# here actually will search users email, but I give it label is Operator, when I create users role, this search bar can let client searching travel plan by operator's username %>
      <%= f.label :Operator %>
      <%= f.search_field :user_email_cont, placeholder: 'Email', class: 'form-control form-control-sm' %>
      
      <%= f.submit %>
    <% end %>
    <%= link_to 'refresh', trips_path %>
  </div>

  <div class="col-md-10">
    <div class="card-columns">
    <%# use ruby each method to list each trip in card format %>
      <% @trips.each do |trip| %>
        <%= render 'trips/trip', trip: trip %>
      <% end %>
    </div>
  </div>

</div>
<br/>


<%# <div class="card-columns">  changed the layout, so comments this one
   <%# use ruby each method to list each trip in card format %>
  <%# @trips.each do |trip| %>
    <%# render 'trips/trip', trip: trip %>
  <%#end %>
</div>