<%# dynamic title for trip show page => trips show page title should like Travel-Fun/trip title%> 
<% content_for :title do %>
  Travel Fun/<%= @trip.title %>
<% end %>

<%# show page will display each trip details %>
<div class="container mt-3">
    <%= link_to 'Travel Plans', trips_path %>
\
    <%# icon + boostrap color %>
    <i class="fa-solid fa-map-location-dot text-info"></i>
    <%= link_to @trip.title, trip_path(@trip) %> 
    <p></p>

    <%# devide each trip view table to 2 parts, good for front end %>
    <div class="row">
        <div class="col-lg-6">
        <%# render partial page trip for exactly trip %>
        <%= render 'trips/trip', trip: @trip %>
        </div>

        <div class="col-lg-6"> 
        <%# the below front end view is add itinerary can click, after click, the url link nested route  %>
        <%# trip_itinerary_path(@trip,@itinerary) => localhost:3000/trips/trip.id/itinerary/itinerary.id %>
        <%# only trip owner(creator) can see this button %>
        <% if policy(@trip).owner? %> 
        <%= link_to 'Add New Itinerary', new_trip_itinerary_path(@trip, @itinerary), class: 'btn btn-success btn-sm btn-block mb-3' %>
        <% end %>

        <%# render partial page itinerary for exactly trip %>
        <% @itineraries.each do |itinerary|%>
        <%= render 'itineraries/itinerary', itinerary: itinerary %>
        <% end %>
        </div>
    </div>
</div>
