<%# dynamic title for user page => user page title should like Travel-Fun/All Users%> 
<% content_for :title do %>
  Travel Fun/All Users
<% end %>


<%# for users controller index action view %>
<h3>
  <div class="text-center mt-3">
    Our Community, now we have 
    <div class="badge badge-info">
      <%= @users.count %> users
    </div>
  </div>
</h3>

<%# front end view cooperate with gem ransack users controller %>
<div class="form-inline mt-4">
  <%= search_form_for @q do |f| %>
    <%= f.search_field :email_cont, placeholder: "email search" %>
    <%= f.submit "Search", class: "btn btn-sm btn-info" %>
  <% end %>
  <div class="ml-2"></div>
  <%= link_to users_path, class:"btn btn-sm btn-success" do %>
    <div class="fa-solid fa-arrows-rotate"></div>
      refresh
  <% end %>
</div>

<div class="table-responsive">
<%# search table %>
<table class="table table-bordered mt-3 table-striped table-sm text-center">
  <thead>
    <tr>
      <th>id</th>
      <th>
      <%# Ransack's sort_link helper creates table headers that are sortable links %>
        <%= sort_link(@q, :email) %>
      </th>
      <th>
      <%= "created_at".humanize %>
      </th>
      <th>
        <%= "sign_in_count".humanize %>
      </th>
      <th>
        <%= "current_sign_in_at".humanize %>
      </th>
      <th>
        <%= "last_sign_in_at".humanize %>
      </th>
      <th>
         Roles
      </th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.id %>
        </td>
        <td>
          <%# display some icon in view if user online %>
            <% if  user.online? %>
              <div class="text-primary fa-solid fa-user-secret"></div>
              <i class="text-warning fa-solid fa-lightbulb"></i>
            <% else %>
              <div class="fa-solid fa-user-secret"></div>
              <i class="fa-solid fa-lightbulb"></i>
            <% end %>
            <%= link_to user.email, user_path(user) %>
        </td>
        <td>
          <%= user.created_at %>
        </td>
        <td>
          <%= user.sign_in_count %>
        </td>
        <td>
          <%= user.current_sign_in_at %>
        </td>
        <td>
          <%= user.last_sign_in_at %>
        </td>
        <td>
          <% user.roles.each do |role| %> 
          <%# the below helper method similar as the flash message, can find it at application helper file %>
          <div class= "badge badge-<%=select_role_color(role.name)%>" >
              <%= role.name %>
          </div>
          <% end %>
          <% if policy(user).edit? %>
              <div><%= link_to 'Edit Roles', edit_user_path(user), class: 'btn btn-sm btn-warning' %> </div>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<%# <div class="card-columns">
  <%# @users.each do |user| %>
    <%# render user partial %>
    <%# render 'users/user', user: user %>
  <%#end %>
</div>