<%# bootstrap navbar format + check if user login then display account settings and sign out link  %>
<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#019267">
  <a class="navbar-brand" href="/">
    <%=image_tag "Logo.png", size:"30x30", alt: "logo", class:"rounded" %>
    Travel Fun
  </a>
  <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
  <%# if user logged in  %>
  <%# if current_user.present? is same thing as below %>
  <%# if current_user vs if current_user.present? is implicit vs explicit check for object truthiness.In Ruby, everything except for false and nil is truthy. So if current_user means if current_user is anything except for nil or false then proceed. %>
  <%# when users logged in, the below will appear at navbar left section %>
    <% if current_user %>
      <ul class="navbar-nav mr-auto">
      <%# the below link is active if the current page is and we decide what the current page should be %>
        <%# eg, if current page is root path then the link is go to home page.  %>
        <li class="<%= 'active font-weight-bold' if current_page?(root_path) %> nav-item">
          <%= link_to root_path, class: 'nav-link' do %>
            <div class="fa fa-home"></div>
            Home
          <% end %>
        </li>
        <%# link to trip list page %>
        <li class="<%= 'active font-weight-bold' if current_page?(trips_path) %> nav-item">
          <%= link_to trips_path, class: 'nav-link' do %>
            <div class="fa-solid fa-suitcase"></div> 
            Trips
          <% end %>
        </li>
        <%# link to add new trip page, update this link to below base on users role %>
        <%# <li class="'active font-weight-bold' if current_page?(new_trip_path)  nav-item">
          link_to new_trip_path, class: 'nav-link' do 
            <div class="fa-solid fa-location-arrow"></div>
            New Trip
           end 
        </li> %>
        <%# lind to Order page,update this link to below base on users role %>
        <%# <li class=" 'active font-weight-bold' if current_page?(orders_path)  nav-item">
           link_to orders_path, class: 'nav-link' do 
            <div class="fa-solid fa-cart-shopping"></div>
           Orders
           end 
        </li> %>
      <%# Search Bar Start %>
      <%# after use ransack gem, I set a method on application controller, we can use that globel vaeiable to set nav bar search %>
      <div class="form-inline my-2 my-lg-0">
          <%= search_form_for @ransack_trips, as: :trips_search, url: trips_path do |f| %>
           <div class="input-group">
           <%# :title_or_brief_info_cont which means when client use search bar  %>
           <%# The db will check trips table for "title"  OR "brief_info" to find if there are anything to match %>
           <%# kind of like nav bar search includes the side bar search: title and brief info seach %>
           <%# finally I changed it back to only for title search, I found this is more accurate for users searching %>
           <%= f.search_field :title_cont, class: 'form-control-sm',  placeholder: 'Find Your Trip', autocomplete: 'off' %>
            <span class="input-group-append">
                <button class="btn btn-primary btn-sm" type="submit">
                <span aria-hidden="true" class="fa fa-search"></span>
                </button>
              </span>
            </div>
          <% end %>
        </div>
      <%# Search Bar End %>
      </ul>



     
     <%# navbar right section :  User_community and Account puls activities histiory %>
      <ul class="navbar-nav mr-right">
      <%# if user is Admin dropdown %>
      <% if current_user.has_role?(:admin) %>
        <li class="nav-item dropdown">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
            <i class="fa-solid fa-crown"></i>
            <b>Admin Manager</b>
          </a>
          <div aria-labelledby="adminDropdown" class="dropdown-menu dropdown-menu-right">
            
           <%= link_to unapproved_trips_path, class: "dropdown-item" do %>
              <i class="fa-solid fa-users-gear"></i>
            <b>Trip Pending List</b> <span class="badge badge-warning"> <%= Trip.unapproved.count %></span></b>
            <% end %>

            <%= link_to orders_path, class: "dropdown-item" do %>
               <i class="fa-solid fa-cart-shopping"></i>
               <b> All Orders <span class="badge badge-warning"> <%= Order.count %></span> </b>
            <% end %>

            <%= link_to users_path, class: "dropdown-item" do %>
              <i class="fa-solid fa-users-gear"></i>
              <b> Users Community <span class="badge badge-warning"> <%= User.count %></span></b>
            <% end %>

            <%= link_to track_activities_path, class: "dropdown-item" do %>
               <i class="fa-solid fa-clipboard"></i>
               <b> Operation Record </b>
            <% end %>

            <%= link_to analytics_path, class: "dropdown-item" do %>
               <i class="fa-solid fa-chart-bar"></i>
               <b> Analytics </b>
            <% end %>
          </div>
        </li>
      <% end %>

      <%# if user is Operator dropdown %>
      <% if current_user.has_role?(:operator) %>
        <li class="nav-item dropdown">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
            <div class="fa-solid fa-user-gear"></div>
            <b>Operate</b>
          </a>
          <%# link to add new trip page %>
          <div aria-labelledby="operatorDropdown" class="dropdown-menu dropdown-menu-right">
            <%= link_to new_trip_path, class: "dropdown-item" do %>
              <i class="fa-solid fa-folder-plus"></i>
              <b> New Trip </b>
            <% end %>

            <%= link_to designed_trips_path, class: "dropdown-item" do %>
              <i class="fa-solid fa-road"></i>
              <b> Created Travels <span class="badge badge-primary"> <%= current_user.trips_count %></span> </b>
            <% end %>

            <%= link_to my_clients_orders_path, class: "dropdown-item" do %>
              <i class="fa-solid fa-user-astronaut"></i>
              <b> My Clients <span class="badge badge-primary"> <%= Order.joins(:trip).where(trips: {user: current_user}).count %></span></b>
            <% end %>
          </div>
        </li>
      <% end %>

      <%# if user is Client dropdown %>
      <% if current_user.has_role?(:client) %>
        <li class="nav-item dropdown">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
            <div class="fa-solid fa-paper-plane"></div>
            <b>Travel Plan </b>
          </a>
          <%# link to brought_trips_path and pending_review_path %>
           <div aria-labelledby="operatorDropdown" class="dropdown-menu dropdown-menu-right">
            <%= link_to brought_trips_path, class: "dropdown-item" do %>
              <i class="fa-solid fa-basket-shopping"></i>
              <b> Brought Trips <span class="badge badge-success"> <%= current_user.orders_count %></span> </b>
            <% end %>

            <%= link_to pending_review_trips_path, class: "dropdown-item" do %>
              <i class="fa-solid fa-wand-magic-sparkles"></i>
              <b> Pending Review <span class="badge badge-danger"> <%= current_user.orders.pending_review.count %></span> </b>
            <% end %>
          </div>
        </li>
      <% end %>

        <%# users profile dropdown %>
        <li class="nav-item dropdown">
          <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="navbarDropdown" role="button">
            <div class="fa-solid fa-address-card"></div>
            <b><%= current_user.username %></b>
          </a>
          <div aria-labelledby="navbarDropdown" class="dropdown-menu dropdown-menu-right">
            <%= link_to edit_user_registration_path, class: "dropdown-item" do %>
              <div class="fa fa-cog"></div>
              <b>Account settings</b>
            <% end %>
            <%= link_to destroy_user_session_path, method: :delete, class: "dropdown-item" do %>
              <div class="fa fa-sign-out-alt"></div>
              <b>Sign out</b>
            <% end %>
          </div>
        </li>
      </ul>

     <%# if user didn't log in  %>
    <% else %>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Log In', new_user_session_path, class: 'nav-link' %>
        </li>
      </ul>
    <% end %>
  </div>
</nav>


<%# here was my code to check if user log in, I commented code below because I used them + bootstrap as above codes %>
<%# check if user login then display account settings and sign out link %>
<%# <if current_user %>
    <%# current_user.email %>
    <%# link_to 'Account Settings',edit_user_registration_path %>
    <%# link_to 'Sign Out', destroy_user_session_path, method: :delete %>
<%# check if user don't login then need sign up or log in  %>
<%# else %>
    <%# link_to 'Sign Up', new_user_registration_path %>
    <%# link_to 'Log In', new_user_session_path %>
<%# end %>

  <%# old navbar seach before used gem ransack, layout keeps same, but do need form_tag anymore in this case %>
  <%# below is search function front end, please find the controller action at trips_controller.rb file %>  
      <%# the below search function is for use ransack gem before %>
        <%# <div class="form-inline my-2 my-lg-0">
          <%# form_tag trips_path, method: :get do %>
            <div class="input-group">
              <%# text_field_tag :title, params :title, autocomplete: 'off', placeholder: "Find your favorite trip", class: 'form-control-sm' %>
                <span class="input-group-append">
              </span>
            </div>
          <%# end %>
        </div> 


     