<div class="card mt-3">
    <div class="card-header">
    <i class="fa-solid fa-user-ninja"></i>
    <%= link_to order.user.username, user_path(order.user) %>
   
    <i class="fa-solid fa-hourglass"></i>
    <%= time_ago_in_words(order.updated_at)%>

    <i class="fa-solid fa-signs-post"></i>
    <%= link_to order.trip, trip_path(order.trip) %>
    </div>

    <div class="card-body">
    
       <%# use times do to set front end view about rating %>
       <%# don't know how to display front end view when rating is  4.5, 3.5 sth like that %>
       <p> 
       <i class="fa-brands fa-gratipay text-danger"></i>
       <span class="font-weight-bold"> Rating: &nbsp</span> 
        <% order.rating.times do %>
            <i class="fa-solid fa-heart text-danger"></i>
        <% end %>
        </p>

        <p> 
        <i class="fa-solid fa-comment-dots text-success"></i>
        <span class="font-weight-bold"> Review: &nbsp</span>
            <%= order.review %>
        </p>
    </div>
    
    <div class="card-footer">
        <% if current_user %>
            <%# more secure at this stage, only order owner can edit review  %>
            <% if policy(order).edit? %>
                <%= link_to 'Edit Review', edit_order_path(order) %>
            <% end %>
        <% end%>
    </div>
</div>