<p id="notice"><%= notice %></p>
<%# dynamic title for orders page %> 
<% content_for :title do %>
  Travel Fun/All orders
<% end %>

<h3>
  <div class="text-center mt-3">
   Order Lists:
    <div class="badge badge-info">
      <%= @orders.count %>
    </div>
  </div>
</h3>

<%# front end view cooperate with gem ransack users controller %>
<div class="form-inline mt-4">
  <%= search_form_for @q do |f| %>
    <%= f.search_field :review_cont, placeholder: "reviews search" %>
    <%= f.search_field :rating_eq, placeholder: "ratings search" %>
    <%= f.submit "Search", class: "btn btn-sm btn-info" %>
  <% end %>
  <div class="ml-2"></div>
  <%= link_to orders_path, class:"btn btn-sm btn-success" do %>
    <div class="fa-solid fa-arrows-rotate"></div>
      refresh
  <% end %>
</div>

<div class="table-responsive mt-3">
<table class="table table-bordered table-striped table-sm text-center">
  <thead>
    <tr>
      <th>ID</th>
      <th>
      <i class="fa-solid fa-street-view"></i>
      Users
      </th>
      <th>
      <i class="fa-solid fa-map"></i>
      <%= sort_link(@q, :trip_title)%>
      </th>
      <th>
      <i class="fa-solid fa-business-time"></i>
      Purchased Date
      </th>
      <th>
      <i class="fa-solid fa-dollar-sign text-warning"></i>
      <%= sort_link(@q, :price)%>
      </th>
      <th>
      <i class="fa-solid fa-heart text-danger"></i>
      Rating
      </th>
      <th>
      <i class="fa-solid fa-comment-dots text-success"></i>
      Review
      </th>
      <th>
      <i class="fa-regular fa-calendar-days text-primary"></i>
      Review Date
      </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.trip.id %></td>
        <td><%= link_to order.user, user_path(order.user) %></td>
        <td><%= link_to order.trip, trip_path(order.trip) %></td>
        <td><%= order.created_at.strftime("%d - %b - %y") %></td>
        <td><%= number_to_currency(order.price) %></td>
        <td><%= order.rating %></td>
        <td><%= order.review %></td>
        <td>
          <% if order.rating.present? %>
            <%= order.updated_at.strftime("%d - %b - %y") %>
          <% end %>
        </td>
        <td><%= link_to 'See Review', order %></td>
        <td><%= link_to 'Add Review', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy Order', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
<div> <%== pagy_bootstrap_nav(@pagy) %> </div>

<br>
