
<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%#  f.input :description %>
    <%# start: for action text form view %>
    <%= f.label :description %>  
    <%= f.rich_text_area :description %>
    <%# end: for action text form view %>
  </div>
   
   <%# add bootsrap for edit update button %>
  <div class="form-actions btn btn-warning mt-3 text-light p-0">
    <%= f.button :submit %>
  </div>
<% end %>
