<%# this is partial _products veiw + bootstrap card format %>

<div class="card">
  <%# each img for travel product %>
  <%# <img class="card-img-top" src="..." alt="Card image cap">    %>

     <%# each product title is card header  %>
    <div class="card-header">
      <div class="fa-solid fa-bus"></div>
        <%= link_to product.title, product_path(product) %>
    </div>

    <%# each product description is card body  %>
    <div class="card-body">
      <%= product.description %>
    </div>

    <%# each product created time and user is card footer  %>
    <div class="card-footer">
      <div class="far fa-clock"></div>
      <%= product.created_at.strftime('%d-%b-%Y') %>
      <div class="row"></div>
      <div class="fa-solid fa-user-astronaut"></div>
      <%= product.user %>
    </div>

    <%# each product links are card footer as well  %>
    <div class="card-footer">
    <%= link_to 'Show', product, class: 'btn btn-sm btn-success' %>
    <%= link_to 'Edit', edit_product_path(product), class: 'btn btn-sm btn-info' %>
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger' %>
    </div>

</div>