<!DOCTYPE html>
<html>
  <head>
    <title>TravelFun</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# navbar partial: navbar bootstrap format + ruby logic to check current_user and current_page %>
    <%= render 'shared/nav'%>

    <%# flash msg partial for notification messages %>
    <%= render 'shared/messages' %>

    <div class="container">
      <%= yield %>
    </div>

    <%# footer partial %>
    <%= render 'shared/footer'%>
  
  </body>
 <%# typed.js CDN and script tag for landing_page (home page) %>
  <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
    <script>
      var typed = new Typed(".mov",{
        strings: [,  "Start A New Journey ?","Explore Some Adventures ?","A Spur-Of-The-Moment Trip ?"] ,
        typeSpeed: 100,
        backSpeed: 100,
        loop: true

      })
    </script>
</html>

<%# comment 01 start %>
  <%# above flash msg provides same thing, so I commented below codes %>
    <%# start: devise default set%>  
    <%#<p class='notice'> <%#= notice %> </p>
    <p class='alert'> <%#= alert %> </p>
    <%# end: devise default set %>
<%# comment 01 end %>

<%# comment 02 start %>
   <%# I have put partial header code in above shared/nav %>
  <%# so I deleted the partial header file but you can check the original code in nav file %>
    <%# header partial for users varify %>
    <%# render 'shared/header'  %>
<%# comment 02 end %>