<!DOCTYPE html>
<html>
  <head>
    <title>TravelFun</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <%# navbar partial %>
    <%= render 'shared/nav'%>

    <%# header partial for users varify %>
    <%= render 'shared/header'%>

    <%# flash msg partial for notification messages %>
    <%= render 'layouts/messages' %>

    <%# above msg flash provides same thing %>
    <%# start: devise default set%>  
    <%#<p class='notice'> <%#= notice %> </p>
    <p class='alert'> <%#= alert %> </p>
    <%# end: devise default set %>

    <%= yield %>

    <%# footer partial %>
    <%= render 'shared/footer'%>
  </body>
</html>
